{{#if textarea}}
    <div class="form-control">
        <textarea class="form-input" rows="{{rows}}" placeholder="{{placeholder}}" id="{{id}}"></textarea>
    </div>
{{else}}
    <div class="form-control">
        <input class="form-input" type="{{type}}" placeholder="{{placeholder}}" id="{{id}}">
    </div>
{{/if}}